name: Deploy to Github Pages

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 30

        permissions:
            # Give the default GITHUB_TOKEN write permission to commit and push the
            # added or changed files to the repository.
            contents: write

        steps:
            - uses: actions/checkout@v3
            
            # install node.js
            - uses: actions/setup-node@v1

            # Runs a single command using the runners shell
            - name: install dependencies
              run: npm install

            # Runs a single command using the runners shell
            - name: try to build the project
              run: npm run build

            # use actions-gh-pages to deploy dist to gh-pages
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                # github will auto-generate a token for this job and use it 
                github_token: ${{ secrets.GITHUB_TOKEN }}
                publish_dir: ./dist
